[submodule "webapp-frontend"]
	path = webapp-frontend
	url = https://github.com/lmeijvogel/verlichting-webapp-elm
[submodule "webapp-api"]
	path = webapp-api
	url = https://github.com/lmeijvogel/verlichting-api
[submodule "my_node_openzwave"]
	path = my_node_openzwave
	url = https://github.com/lmeijvogel/my_node_openzwave.git
